body {
    background: url("../Assets/steps.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    background-color: white;
}

.banner {
    width: 100%;
    margin: 0;
}

.navbar-dropdown {
    width: 25vw;
    margin-left: -15vw;
}

main {
    background-color: hsla(0, 59%, 100%, 0.79);
    height: 150vh;
    margin: 5vw;
}

footer{
    background-color: black;
    color: white;
}

nav{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin-top: 5px;
}

.master-nav-item{
    display: flex;
    justify-content: center;
    
}


/*Fonts*/
*, h1, h2, h3, h4, a, p{
    font-family: sans-serif;
}

h1{
    font-size: 3vw;
}
h2{
    font-size: 2.6vw;
    text-align: center;
    margin: 3vw;
}
h3 {
    font-size: 2.4vw;
}
h4 {
    font-size: 2vw;
}

p, a, span {
    font-size: 1.6vw;
    text-align: center;
}



/*Home specific styling*/
.home-img-holder div{
    box-sizing: border-box;
    height: 20vw;
    width: 30vw;
    max-width: 300px;
    max-height: 200px;
    padding: 5px;
}
.home-img-holder div img{
    width: 100%;
    height: 100%;
}

.home-img-holder{
    height: 60vw;
    max-height: 600px;
    width: 60vw;
    max-width: 600px;
    display: flex;
    flex-flow: wrap column;
    margin-left: auto;
    margin-right: auto;
}

.home-img-holder div:last-child {
    height: 60vw;
    max-height: 600px;
}

.home-img-holder div img:hover{
    box-shadow: rgba(0,0,0,5) 3px 3px;
}

img1{
    position: relative;
}
img1-div {
    position: absolute;
    left: 0px;
    right: 0px;
}
img1, img2, img3, img4{
    position: relative;
}
img1-div, img4-div, img2-div, img3-div {
    position: absolute;
    left: 0px;
    right: 0px;
}

.hidden {
    display: none;
}

.product_box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 89vw;
    margin-left: auto;
    margin-right: auto;
}

.product {
    background-color: hsla(0, 59%, 100%, 0.79);
    margin: 2vw;
}

.details {
    background-color: hsla(0, 59%, 100%, 0.79);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.detail_text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.product_img {
    width: 25vw;
    height: 25vh;
}

.product_name, .product_price, .product_description {
    font-family: Verdana;
    font-size: 1rem;
    margin: 1vw;
}
