@page "{id}"
@model NurseryApp.Pages.User.Orders.DetailsModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<form>
    <label asp-for=""></label>
</form>