<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/style/reset.css" rel="stylesheet" />
    <link href="~/style/base.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1>BinaryTree Nursery</h1>
        <h4>A Clever SubHeader</h4>
        <nav>
            <div class="master-nav-item home-nav">
                <a href="/Home/Index">Home</a>
            </div>
            <div class="master-nav-item register-nav">
                <a href="/Account/Register">Register</a>
            </div>
            <div class="master-nav-item dropdown-nav product-nav"><a href="">Products</a></div>
            <div class="master-nav-item dropdown-nav basket-nav">
                <a href="">Basket</a>
            </div>
        </nav>
    </header>
    <main>
        <div>
            @RenderBody()
        </div>
    </main>
    <footer>
        <ul>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="~/Views/Home/Index">Home</a></li>
        </ul>
    </footer>
</body>
</html>
