<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>

    </header>
    <main>
        <div>
            @RenderBody()
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>
