<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1>BinaryTree Nursery</h1>
        <h2>A Clever SubHeader</h2>
        <nav>
            <div>
                <a href="~/Views/Home/Index">Home</a>
            </div>
            <div>
                <a href="~/Views/Account/Register">Register</a>
            </div>
            <div>
                <a href="">Products</a>
            </div>
            <div>
                <a href="">Basket</a>
            </div>
        </nav>
    </header>
    <main>
        <div>
            @RenderBody()
        </div>
    </main>
    <footer>
        <ul>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="~/Views/Home/Index">Home</a></li>
        </ul>
    </footer>
</body>
</html>
