@model NurseryApp.Models.ViewModel.ExternalLoginViewModel
@{

    ViewData["Title"] = "ExternalLogin";
}

<h2>ExternalLogin</h2>

<form asp-action="ExternalLoginConfirmation" method="post">
    <label asp-for="Email"></label>
    <input asp-for="Email" />

    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" />
    <span asp-validation-for="FirstName"></span>

    <label asp-for="LastName"></label>
    <input asp-for="LastName" />
    <span asp-validation-for="LastName"></span>

    <label asp-for="Birthday"></label>
    <input asp-for="Birthday" />
    <span asp-validation-for="Birthday"></span>

    <label asp-for="Landscaper"></label>
    <input type="checkbox" asp-for="Landscaper" />

    // add claims collection

    <button type="submit">Register</button>


</form>