@model NurseryApp.Models.ViewModel.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}

<form class="data-form register" method="post">
    <div asp-validation-summary="All"></div>
    <p>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </p>
    <p>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </p>
    <p>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </p>
    <p>
        <label asp-for="Birthday"></label>
        <input asp-for="Birthday" />
        <span asp-validation-for="Birthday"></span>
    </p>
    <p>
        <label asp-for="Landscaper">Are your employed as a landscaper?</label>
        <input type="checkbox" asp-for="Landscaper"/>
    </p>
    <p>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </p>
    <p>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </p>
    <button type="submit">COMPLETE REGISTRATION</button>
</form>